version: '3.7'
services:
  app:
    image: php:8.0-fpm
    # Removed the ports mapping
    # ports:
    #   - "9000:9000"
    volumes:
      - .:/var/www
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - .:/var/www

# Additional services can be listed here.